#menu {
    display: flex;
    height: 90px;
 justify-content: center;

    

}

.slot{
text-transform: uppercase;
height: auto;
width: 290px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
line-height: 80px;
 
}

.point{
    height: auto;
width: auto;
text-align: center;
margin-top: 25px;
margin-bottom: 20px;
}

#logomenu{
    height: 80px;
    width: 110px;
 
}

.slot1{
    height: auto;
}

.pointrouge{
    width: 15px;
    height: 15px;
}

.slot:hover{
    background-color: rgb(199, 25, 25);
   
}


.carousel-inner img {
    width: 60%;
    margin: auto;
  }
  .carousel-inner{
      position: relative;
  }
  #titresite{
      position: absolute;
    top: 80%;
    left: 50%;
    width:50%;
    transform: translate(-50%,-50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.575);
    font-weight: bold;
    font-size: 60px;

  }

#carouselExampleControls{
   background: url(carousel1.jpg);
    background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
   
 
}

.fleche{
margin-left: 300px;
margin-right: 300px;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
}

.divpresta{

    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.presta{
    
    width: 20%;
    height: 300px;
   position: relative;
   text-align: center;
  
}

.imgpresta{
 width:100%;
 height:100%;
}

.appelation {
    position: absolute;
    top: 20%;
    left: 50%;
    width:100%;
    transform: translate(-50%,-50%);
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgba(250, 250, 250, 0.644);
    text-transform: uppercase;
}

#fondvert{
    background-color: rgba(46, 71, 56, 0.623);
    text-align: center;
}

.logo{
    height: auto;
    width: auto;
  
}

.foot_div{
    height: auto;
    display: flex;
    background-color: rgba(60, 97, 74, 0.466);
    justify-content: space-evenly;
}

.foot{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.appelation:hover{
    background-color: white;
}

